/*=======
css reset
============*/

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }

/*=======
formatação geral
============*/

html {
    font-size: calc(10px + 1vw);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #21243d;
}

html body a {
    text-decoration: none;
    color: #21243d;
}

header nav ul {
    display: flex;
    justify-content: right;
}

header nav ul li {
    margin: 2vw 10px 0 10px;
}

header nav ul li.atual a {
    color: #FF6464;
}

/*=======
formatação do corpo
============*/

main.works section {
    border-bottom: 1px solid #E0E0E0;
    margin: 2vw 0 2vw 0;
}

main.works section:last-child {
    border: 0;
}

main.works {
    margin: 0vw 15vw 0vw 15vw;
}

main.works h1 {
    font-weight: normal; /*Tirando negrito do titulo*/
}

main.works section p {
    margin: 1vw 0 1vw 0;
}

main.works section p span {
    color: white;
    background-color: #FF7C7C;
    border-radius: 20px;
    padding: 3px 10px 2px 10px;
    font-weight: bold; /*negrito*/
}

/*=======
formatação do rodapé
============*/

footer {
    text-align: center;
    padding: 1vw 0 2vw 0;
}

footer nav ul {
    display: flex; /*Alinha um ao lado do outro*/
    justify-content: center;
}

footer nav ul li {
    margin: 30px 15px 30px 15px;
    font-size: calc(15px + 1vw);
}